@primary-color: #2f63ae;

.color-primary {
  color: @primary-color;
}

.color-red {
  color: #e83617;
}

.color-orange {
  color: #ffa500;
}

.color-green {
  color: #3eae6d;
}

.color-grey {
  color: #a5a5a5;
}

.color-muted {
  color: #959595;
}

a {
  color: #2f63ae;
}

.gap-20 {
  display: flex;
  gap: 20px;
}

.mgr-10 {
  margin-right: 10px;
}

.mgl-10 {
  margin-left: 10px;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
